<div class="acronym-reveal" aria-label="Exploration of Local VolumE Surveys">
  <p class="acronym-phrase" aria-hidden="true">
    <span class="acronym-letter">E</span>xploration of
    <span class="acronym-letter">L</span>ocal
    <span class="acronym-letter">V</span>olum<span class="acronym-letter acronym-letter-final">E</span>
    <span class="acronym-letter">S</span>urveys
  </p>
</div>
